<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="SystemName" value="TPM QAS Datalink Phase 3" />
    <add key="CopyrightText" value="Copyright @ {YEAR} TORAY MALAYSIA SYSTEMS SOLUTION" />
    <add key="VersionText" value="TMS UI Template V1.2" />
    <add key="aspnet:MaxJsonDeserializerMembers" value="999999999" />

    <add key="isTest" value="true" />
    <add key="ACL_API" value="http://cld-tgm-app001.toray.my:160/" />
    <add key="CONN_API" value="http://cld-tgm-app001.toray.my:140/api/hello/GetConnectionByParams" />


    <add key="DEV" value="DEV_TPMQAS" />
    <add key="LIVE" value="LIVE_TPM_QASP3" />
    <add key="ACL" value="TPM_ACL_MVC" />

    <add key="LIVE_ORA_QAS" value="LIVE_ORA_QAS" />
    <add key="DEV_ORA_QAS" value="" />
    <add key="LIVE_ORA_COA" value="TPM_COST_ORA_LIVE" /> <!--TPM_COST_ORA_DEV-->
    <add key="DEV_ORA_COA" value="TPM_COST_ORA_LIVE" />
    <add key="LIVE_ERP_COA" value="TPM_ERP" />

	  <add key="ProxyAddress" value="http://10.252.133.21:8080" />
	  <add key="proxyEmail" value="nisa.nurizam.z5@mail.toray" />
	  <add key="proxyPassword" value="VyGa6726" />
	  <add key="TMSUserAPIKey" value="TMS-kbZp6FncDV0H82YB" />
	  <!--<add key="OCR_API_Test" value="https://iot-ai-test2.azurewebsites.net/ocrDevelopmentV2_2" />
      <add key="OCR_API_Live" value="https://iot-ai-test2.azurewebsites.net/ocrDevelopmentV2_2" />-->
	  <add key="OCR_API_Live" value="https://tms-iot-ai-webapp.azurewebsites.net/ocrDevelopmentV2_2" />
	  <add key="OCR_API_Test" value="https://tms-iot-ai-webapp.azurewebsites.net/ocrDevelopmentV2_2" />
  </appSettings>

  <!--<appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="api_key" value="TMS-kHunNECoGAOwtXzj" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="SystemName" value="TPM CMMS" />
    <add key="CompareWordClientAddress" value="https://iot-ai-test2.azurewebsites.net/compareword" />
    <add key="proxyEmail" value="sitizulaikha.hawari.j8@mail.toray" />
    <add key="proxyPassword" value="CzHz7945" />
    <add key="TMSUserAPIKey" value="TMS-kHunNECoGAOwtXzj" />
    <add key="ExecuteTaskServiceCallSchedulingStatus" value="ON" />
    <add key="ExecuteTaskScheduleCronExpression" value="0 0/1 * 1/1 * ? *" />
    <add key="folderUpload" value="\\10.200.0.19\tpm\tpm-engineering\5. MECHANICAL\4. General\CMMS\CMMS 2.0\fileAttachment\" />
    <add key="folderbackup" value="\\10.200.0.19\tpm\tpm-engineering\5. MECHANICAL\4. General\CMMS\CMMS 2.0\backupFileAttachment" />
    <add key="TimeoutWarning" value="540000" />
    --><!--in miliseconds--><!--
    <add key="TimeoutNow" value="600000" />
    --><!--in miliseconds--><!--
  </appSettings>-->

  <!--TPM CMMS-->
  <!--<connectionStrings>
    --><!--Dev DB--><!--
    <add name="DBAccess1" connectionString="Server=10.201.1.5,49818;Database=TPM_ProdLib;User ID=TPMProdLib;Password=TPMProd5Lib" providerName="System.Data.SqlClient" />
    --><!--Test ACL DB--><!--
    --><!-- <add name="DbTPMAcl" connectionString="Server=10.201.1.5,49818;Database=TPM_ACL;User ID=tpmACL;Password=tpmACL9#" providerName="System.Data.SqlClient" />--><!--
    --><!--<add name="DbTPMAcl" connectionString="Server=GRP-MS-DB6\PABM4DB;Database=pab_ACL;User ID=pabACL;Password=pabACL9#" providerName="System.Data.SqlClient" />--><!--
    <add name="DbTPMAcl" connectionString="Server=10.211.1.4,49822;Database=TPM_ACL;User ID=tpmACL;Password=tpmACL9#" providerName="System.Data.SqlClient" />
    --><!--TPM Test Database (MS SQL Server)--><!--
    --><!--   <add name="TPM_PROD" connectionString="Data Source=10.201.1.5,49818; Initial Catalog=TPM_PROD;User ID=TPMPROD;Password=TPMPr0d;MultipleActiveResultSets=True;Max Pool Size=500;Asynchronous Processing=True;" providerName="System.Data.SqlClient" />--><!--
    --><!--TPM Live Database (MS SQL Server)--><!--
    --><!--<add name="TPM_CMMS" connectionString="Data Source=10.211.1.4,49822; Initial Catalog=TPM_CMMS;User ID=TPMCMMS;Password=Tpm@cmms123;MultipleActiveResultSets=True;Max Pool Size=500;Asynchronous Processing=True;" providerName="System.Data.SqlClient" />--><!--
    
    <add name="TPM_CMMS" connectionString="Data Source=10.201.1.5,49818; Initial Catalog=TPM_CMMS;User ID=TPMCMMS;Password=Tpm@cmms123;MultipleActiveResultSets=True;Max Pool Size=500;Asynchronous Processing=True;" providerName="System.Data.SqlClient" />
    
    <add name="TPM_CMMSOFF" connectionString="Data Source=CLD-TGM-MDB01,49822; Initial Catalog=TPM_CMMS;User ID=TPMCMMS;Password=Tpm@cmms123;MultipleActiveResultSets=True;Max Pool Size=500;Asynchronous Processing=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>-->

  <!--TPM QAS-->
  <!--<connectionStrings>
    --><!--Test ACL DB--><!--
    <add name="DbTPMAcl" connectionString="Server=10.211.1.4,49822;Database=TPM_ACL;User ID=tpmACL;Password=tpmACL9#" providerName="System.Data.SqlClient" />
    
    
    --><!--dev--><!--
    --><!--add name="DBAccess" connectionString="Server=10.200.1.92\PABM4DB,49827;Database=pab_ACL;User ID=pabACL;Password=pabACL9#" providerName="System.Data.SqlClient" />
    <add name="ORCL_ACL" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=10.211.1.5)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SID=TPMPROD)));User Id=tpmacl;Password=tpmacl;pooling=false;" providerName="Oracle.DataAccess.Client" />
    <add name="ORCL_QAS" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=10.200.0.38)(PORT=1558)))(CONNECT_DATA=(SERVER=DEDICATED)(SID=ABS)));User Id=xxtry;Password=xxtry;pooling=false;" providerName="Oracle.DataAccess.Client" />
    <add name="ORA_REPORT" connectionString="Data Source=(DESCRIPTION =(ADDRESS_LIST =(ADDRESS = (PROTOCOL = TCP)(HOST = 10.200.0.51)(PORT = 1523)))(CONNECT_DATA =(SID = TPM)(SERVER = DEDICATED)));User Id=apps;Password=apps;pooling=false;" providerName="Oracle.DataAccess.Client" />--><!--
    --><!--<add name="QASEntities" connectionString="data source=10.201.1.5,49818;initial catalog=TPMQAS;persist security info=True;user id=TPMQAS;password=tpm_qas;multipleactiveresultsets=True;application name=EntityFramework" providerName="System.Data.EntityClient" />--><!--

    --><!--live--><!--
    <add name="ORCL_ACL" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=10.211.1.5)(PORT=1523)))(CONNECT_DATA=(SERVER=DEDICATED)(SID=TPMPROD)));User Id=tpmacl;Password=tpmacl;pooling=false;" providerName="Oracle.DataAccess.Client" />
    <add name="ORCL_QAS" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=10.200.0.51)(PORT=1523)))(CONNECT_DATA=(SERVER=DEDICATED)(SID=TPM)));User Id=xxtry;Password=xxtry;pooling=false;" />
    <add name="ORA_REPORT" connectionString="Data Source=(DESCRIPTION =(ADDRESS_LIST =(ADDRESS = (PROTOCOL = TCP)(HOST = 10.200.0.51)(PORT = 1523)))(CONNECT_DATA =(SID = TPM)(SERVER = DEDICATED)));User Id=apps;Password=apps;pooling=false;" providerName="Oracle.DataAccess.Client" />

    --><!--<add name="SQL_QAS" connectionString="Data Source=GRP-MS-DB8\TPMDB,49822; Initial Catalog=TPMQAS;User ID=TPMQAS;Password=tpm_qas;MultipleActiveResultSets=True;Max Pool Size=500;Asynchronous Processing=True;" providerName="System.Data.SqlClient" />
    <add name="QASEntities" connectionString="data source=GRP-MS-DB8\TPMDB,49822;initial catalog=TPMQAS;persist security info=True;user id=TPMQAS;password=tpm_qas;multipleactiveresultsets=True;application name=EntityFramework" providerName="System.Data.EntityClient" />--><!--

    <add name="SQL_TPM" connectionString="Data Source=GRP-MS-DB8\TPMDB,49822; Initial Catalog=TPM_PACKING;User ID=TPM_PACKING;Password=7p3_P@k1ng;MultipleActiveResultSets=True;Max Pool Size=500;Asynchronous Processing=True;" providerName="System.Data.SqlClient"/>
    --><!--<add name="SQL_TPM" connectionString="Data Source=10.201.1.5,49818; Initial Catalog=TPM_PACKING;User ID=TPM_PACKING;Password=7p3_P@k1ng;MultipleActiveResultSets=True;Max Pool Size=500;Asynchronous Processing=True;" providerName="System.Data.SqlClient" />-->
      <!--
    
    <add name="SQL_QAS" connectionString="Data Source=10.201.1.5,49818; Initial Catalog=TPMQAS_210823;User ID=TPMQAS;Password=tpm_qas;MultipleActiveResultSets=True;Max Pool Size=500;Asynchronous Processing=True;" providerName="System.Data.SqlClient" />
    <add name="QASEntities" connectionString="data source=10.201.1.5,49818;initial catalog=TPMQAS_210823;persist security info=True;user id=TPMQAS;password=tpm_qas;multipleactiveresultsets=True;application name=EntityFramework" providerName="System.Data.EntityClient" />
<add name="ORA_ICCP" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=10.211.1.5)(PORT=1523)))(CONNECT_DATA=(SERVER=DEDICATED)(SID=TPMABS11)));User Id=tpm_cost;Password=tpmcost;pooling=false;" providerName="Oracle.DataAccess.Client" />
  
  </connectionStrings>-->

  <system.web>
    <!--<sessionState timeout="300000" />-->
	  <sessionState timeout="30" /> 
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime executionTimeout="900" maxRequestLength="5120" targetFramework="4.6.1" />
  </system.web>

	<system.webServer>
		<security>
			<requestFiltering>
				<requestLimits maxAllowedContentLength="5242880" />
				<!-- 5MB (in bytes) -->
			</requestFiltering>
		</security>
	</system.webServer>

  <!--<system.web>
    <authentication mode="None" />
    -->
    <!--<identity impersonate ="true" userName ="TORAY\tpm_cmms_app" password ="tpmcmms@pp"/>--><!--
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.6.1" />
    <customErrors mode="Off" />
  </system.web>-->
  
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.4.0" newVersion="5.2.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Configuration.ConfigurationManager" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.1" newVersion="6.0.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.1" newVersion="6.0.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Encodings.Web" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.5.1" newVersion="4.0.5.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  
  
  
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
</configuration>
