
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MachineDataIntegrationSch</title>
    <title>RawDataIntegrationSch</title>
    <!-- Styles.Render removed - use direct link references -->
    <!-- Styles.Render removed - use direct link references -->
    @*<link href="~/Content/Site.css" rel="stylesheet" />*@
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
<link rel="stylesheet" href="~/Content/site.css" />
    @*<!-- Styles.Render removed - use direct link references -->
        <!-- Styles.Render removed - use direct link references -->*@
    <!-- Styles.Render removed - use direct link references -->
    <!-- Scripts.Render removed - use direct script references -->
    <!-- Scripts.Render removed - use direct script references -->
    <script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <!-- Scripts.Render removed - use direct script references -->
    <!-- Scripts.Render removed - use direct script references -->
    @*<script src="~/Scripts/bootstrap.min.js"></script>*@
    @*<!-- Scripts.Render removed - use direct script references -->*@
    @*<!-- Scripts.Render removed - use direct script references -->*@
    @*<!-- Scripts.Render removed - use direct script references -->*@
    @*<!-- Scripts.Render removed - use direct script references -->*@
    @*<script src="~/Scripts/bootstrap-datepicker.js"></script>*@
    <script src="~/Scripts/DataTables/jquery.dataTables.min.js"></script>
</head>
<body>
    <div>
        @using (Html.BeginForm("MachineDataIntegrationSch", "DATA_INT", FormMethod.Post, new { @id = "IntegrationForm" })) { }
    </div>
</body>
</html>
<script>
    //submit search, display loading message
    $(document).ready(function () {
        $('#IntegrationForm').submit();
    });
    //window.open('', '_top');
    //top.window.close();
</script>


@if (ViewBag.Result != null)
{
    <script type="text/javascript" language="javascript">
        alert("@ViewBag.Result");
    </script>
}
