.list-group {
    box-shadow: none !important;
}

input::placeholder {
    color: #A9A9AC !important;
}

.input-group-text {
    color: #FFFFFF !important;
}

.form-check-input:focus {
    box-shadow: 0 0 0 0.1rem rgba(52, 89, 230, 0.25);
}

.select2-container--bootstrap-5.select2-container--focus .select2-selection, .select2-container--bootstrap-5.select2-container--open .select2-selection {
    box-shadow: 0 0 0 0.1rem rgba(13,110,253,.25) !important;
}

.multiselect-option.dropdown-item:hover {
    background-color: #ECECEC !important; /* Set your desired hover background color */
    color: #54575A !important;
    /* Additional styling properties for hover */
}

/**JH230712 - Custom**/
.isHide {
    display: none;
}

.hidden {
    display: none;
}

.tr-input-group {
    background-color: #057EE6;
    border-color: #057EE6;
}

    .tr-input-group.tr-disabled {
        background-color: #54575A;
        border-color: #54575A;
    }

.multiselect-container.dropdown-menu {
    max-height: 400px;
    overflow: auto;
}

.table-control {
    width: 100%;
    overflow: auto;
}

.table {
    box-shadow: none !important;
}

.sticky-header {
    position: sticky;
    top: 0;
    z-index: 1;
}

@keyframes shake-anim {
    0% {
        transform: rotate(-35deg);
    }

    25% {
        transform: rotate(25deg);
    }

    50% {
        transform: rotate(-15deg);
    }

    75% {
        transform: rotate(10deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

/**Overwrite site.css**/
.detail-frame {
    /*overflow: auto;*/
    overflow: hidden;
}

select.form-control {
    -webkit-appearance: menulist !important;
    -moz-appearance: menulist !important;
}

body {
    font-family: Roboto !important; /*Algerian;*/
    color: #54575A;
    overflow: hidden;
}

.toasts {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 999;
}

#sidebar, #sidebar-nav {
    width: 332px !important;
}

#sidebar-nav {
    position: fixed;
    overflow-y: auto;
    height: calc(100vh - 10px - 42px - 42px - 25px - 19px) !important;
}

#chgpassword_btn {
    color: inherit !important;
    font-weight: bold;
    position: fixed;
    bottom: 68px;
    margin-top: auto;
    width: 330px;
    padding: 10px;
    text-decoration: none;
}

    #chgpassword_btn:hover {
        color: dodgerblue !important;
        cursor: pointer;
    }

.dataTables_length .multiselect.dropdown-toggle {
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
}

.multiselect-container {
    --bs-dropdown-min-width: 84px;
    margin-top: -3px !important;
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
}

.overlay-dropdown .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000; /* Adjust this value based on your needs */
    display: none;
}

.overlay-dropdown.show .dropdown-menu {
    display: block;
}


.btn-primary, .btn-secondary, .btn-danger {
    border: 0px;
}

input {
    /*border-color:#707070 !important;*/
}

.form-control:not(.tr-date) {
    box-shadow: 0 0 0 0.01rem #c2cdf6 !important;
}

.status-select {
    border: 0px;
}

.tr-text {
    text-align: end;
}

.styled-select {
    position: relative;
    display: flex;
    align-items: center;
    width: 300px;
    font-family: "Helvetica", "Arial", sans-serif;
}

    .styled-select label {
        flex: 1 1 60px;
    }

    .styled-select .select-wrapper {
        border: none;
        flex: 1 1 100%;
        background: white;
        border-radius: 5px;
        position: relative;
    }

.select-wrapper[data-prefix]:before {
    content: attr(data-prefix);
    display: flex;
    align-items: center;
    position: absolute;
    z-index: 0;
    left: 0;
    top: 0;
    bottom: 0;
    padding: 0 5px 0 10px;
}

.styled-select .select-wrapper[data-suffix]:after {
    content: attr(data-suffix);
    display: flex;
    align-items: center;
    position: absolute;
    z-index: 0;
    right: 23px;
    top: 0;
    bottom: 0;
    padding: 0 10px 0 5px;
}

.styled-select .select-wrapper select {
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    border: none;
    outline: none;
    -webkit-appearance: none;
    position: relative;
    z-index: 1;
    background: transparent;
    font-size: 16px;
}

.styled-select .select-wrapper .fas {
    display: flex;
    align-items: center;
    font-size: 14px;
    position: absolute;
    z-index: 0;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 0 10px 0 0;
    width: 23px;
}

.tr-no-border {
    border: 0px !important;
}

.multiselect-container > .disabled {
    display: none;
}

.form-check-input {
    border-color: #929292;
}

.page-container {
    overflow-x: hidden !important;
    padding-bottom: 2rem;
    padding-right: 1rem !important;
    padding-left: 1rem !important;
}

.form-check-input[type="checkbox"]:indeterminate {
    background-color: #057FE5;
    border-color: #057FE5;
}

#select-id + .btn-group {
    display: flex;
}

    #select-id + .btn-group .text-center {
        text-align: left !important; /* or use any other desired text alignment */
    }

    #select-id + .btn-group .multiselect-container {
        /* Your custom styles here */
        /* For example, change the background color */
        width: 100% !important;
        /* Add other styles as needed */
    }

.margin-top-20 {
    margin-top: -20px;
}

.toolbar {
    float: right;
}

.toolbar-pop {
    float: left;
}

.tr-pop-line {
    border-top: 1px solid #F0F0F0;
    margin: 0px;
}

.tr-input-group .tr-disabled {
    background-color: #54575A;
    border-color: #54575A;
}

/* Override -2px, form some reason the non-bootstrap is -6px */
table.dataTable tbody td.select-checkbox::before,
table.dataTable tbody th.select-checkbox::before {
    margin-top: -6px;
}

.file-upload::-webkit-file-upload-button {
    color: red; /* Change this to the desired text color */
}

.tr-checkbox {
    height: 40px;
    border: 1px solid red;
    /* margin: auto; */
    padding-top: 10px;
    padding-left: 15px;
    padding-bottom: 10px;
}

.nav-tabs {
    --bs-nav-tabs-border-width: 0px;
}

.tr-tab .nav-link {
    min-width: 250px;
    text-align: left;
    background-color: #F0F0F0 !important;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

    .tr-tab .nav-link:not(:first-child) {
        margin-left: 5px;
    }

.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
    box-shadow: inset 0 0px 0 transparent !important;
}

.tr-tab .nav-link.active {
    color: #54575A !important;
    background-color: #EBF3FF !important;
    font-weight: bold;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.nav-tabs .nav-link {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    border-width: 0px !important;
}

select:invalid {
    color: gray;
}

.tr-select-item-label {
    color: #54575A;
    background-color: #F0F0F0;
    border-radius: 1px;
    border: 1px solid #F0F0F0;
    height: 40px;
    margin-top: auto;
    /* align-content: center; */
    margin-bottom: auto;
    margin-right: auto;
}

    .tr-select-item-label:hover {
        color: #54575A;
        background-color: #F0F0F0;
        border: 1px solid #F0F0F0;
    }

    .tr-select-item-label.tr-checkbox-selected {
        border: 1px solid #057FE5;
        background-color: #EBF3FF;
    }

.tooltip-inner {
    background-color: #fff;
    color: #54575A;
    box-shadow: 0px 0px 4px black;
    opacity: 1 !important;
}

.bs-tooltip-bottom .tooltip-arrow::before, .bs-tooltip-auto[data-popper-placement^=bottom] .tooltip-arrow::before {
    bottom: -1px;
    box-shadow: 0px 0px -4px black;
    border-bottom-color: #fff !important;
    border-width: 0 .3rem .3rem;
    content: "";
}

.bs-tooltip-bottom .tooltip-arrow::after, .bs-tooltip-auto[data-popper-placement^=bottom] .tooltip-arrow::after {
    content: '';
    position: absolute;
    top: -1px; /* Adjust according to border thickness */
    left: 0px; /* Adjust according to border thickness */
    width: 0;
    height: 0;
    border-left: 5px solid transparent; /* Adjust size and width for the border */
    border-right: 5px solid transparent; /* Adjust size and width for the border */
    border-bottom: 7px solid #929292; /* Adjust size and color for the border */
}

.custom-tooltip {
    --bs-tooltip-bg: var(--bs-primary)
}

.accordion-button {
    background-color: #F1F1F1 !important;
    color: #54575A !important;
    flex-direction: row-reverse;
    justify-content: flex-end;
}

    .accordion-button::after {
        margin-left: 0;
        /*margin-right: auto;*/
        margin-right: 10px;
        color: #54575A !important;
        content: "\f054";
        font-family: "Font Awesome 6 Free";
        font-weight: 900;
        background-image: none;
        transform: rotate(0deg);
    }

    .accordion-button:not(.collapsed)::after {
        content: "\f077";
        font-family: "Font Awesome 6 Free";
        font-weight: 900;
        background-image: none;
        transform: rotate(180deg);
        padding-left: 3px;
    }

.tr-hide {
    display: none;
}

.form-control.kv-fileinput-caption::placeholder {
    font-style: normal !important;
}

.multiselect-container.dropdown-menu {
    max-height: 200px !important;
}

.checkboxBgImage {
    background-color: #057FE5;
    border-color: #057FE5;
    background-image: url('data:image/svg+xml,%3csvg xmlns=\'http://www.w3.org/2000/svg\' viewBox=\'0 0 20 20\'%3e%3cpath fill=\'none\' stroke=\'%23fff\' stroke-linecap=\'round\' stroke-linejoin=\'round\' stroke-width=\'3\' d=\'M6 10h8\'/%3e%3c/svg%3e');
}

.checkboxAllCheckedBgImage {
    background-color: #057FE5;
    border-color: #057FE5;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m6 10 3 3 6-6'/%3e%3c/svg%3e");
}

a.tr-disabled {
    pointer-events: none;
}

.tr-date .input-group-text {
    background-color: transparent;
    border-left: none
}

.tr-date input:not([disabled]) ~ .input-group-text i {
    color: #057FE5;
}

.tr-date input:disabled ~ .input-group-text {
    background-color: #F0F0F0 !important;
    border-left: none
}

#sortable, #sortable2 {
    list-style-type: none;
    margin: auto;
    padding: 0 50px;
    width: 100%;
}

.ui-state-default {
    background-color: #fff;
}

.ui-state-default > div {
    padding: 10px 5px;
    border: 1px solid #E6E6E6;
}

.tr-help-card {
    height: calc(100vh - 220px);
    overflow-y: scroll;
}

.color-col {
    text-align: center;
    width: 80px;
    padding-left: 0px !important;
    padding-right: 0px !important;
}

    .color-col .text-muted {
        font-weight: bold;
        padding-top: 5px;
    }

.tr-card-item {
    background-color: #F6F6F6;
    border-color: #929292;
    margin-left: 10px;
    width: 75%;
}

.tr-card-item-row {
    padding-left: 10px;
    /*height: 35px;*/
    padding-top: 10px;
    align-content: baseline;
}

.tr-card-item-row2 {
    padding-left: 10px;
    /*height: 40px;*/
    padding-top: 10px;
    /*padding-bottom: 10px;*/
    align-content: baseline;
}

.tr-card-item-header {
    color: #54575A;
    font-weight: bold;
    margin-bottom: 5px;
    margin-top: 15px;
}

.tr-icon-font {
    color: #54575A;
    font-family: Roboto;
    font-size: 16px;
    margin-left: 5px;
    font-weight: 400;
}

i::before {
    width: 50px;
}

.tr-icon-tbl tr td:first-child {
    text-align: center;
}

.tr-icon-tbl tr td {
    padding: 5px;
}

#stdLinkCopyBtn {
    outline: none !important;
}

    #stdLinkCopyBtn svg {
        margin-top: -4px;
        outline: none !important;
    }

    #stdLinkCopyBtn:hover {
        cursor: pointer;
    }

.image-large {
    width: 350px;
    height: 250px;
}

.select2-container--classic .select2-selection--single .select2-selection__arrow b {
    content: "x"
}

.select2-container--bootstrap-5 .select2-selection--single {
    padding: 0.375rem 2.25rem 0.375rem 0.75rem;
    background-repeat: no-repeat;
    background-position: right 0.75rem center;
    background-size: 16px 12px;
    /*background-image: url('../../assets/ellipsis-vertical-solid.svg');*/
}

.canvasjs-chart-tooltip {
    box-shadow: rgba(0, 0, 0, 0) 1px 1px 2px 2px !important
}

.toolTipClass {
    width: 150px;
}

.jqstooltip {
    background-color: #c6e5f6 !important;
    font-size: 11px !important;
    padding: 5px !important;
    color: black !important;
    overflow: auto !important;
    text-align: center !important;
    border-color: #CCCCCC !important;
    max-width: 400px !important;
    max-height: 400px !important;
    width: 30px;
    height: 17px;
}

.jqsfield {
    font-size: 14px !important;
    color: black !important; /*set the text color here */
}

.card-dash-info {
    height: 195px
}

.card-dash-info2 {
    height: 92.5px
}

.c3-chart-arc.c3-focused text {
    fill: #fff !important;
    color: #fff !important;
    font-size: 20px;
    font-family: Roboto;
    text-shadow: 0px 0.5px grey;
    /*font-weight:bold;*/
    /*text-shadow: -0.01px 0 black, 0 0.01px black, 0.01px 0 black, 0 -0.01px black;*/
    /*position: absolute;
            top: 50%;
            right: 50%;
            transform: translate(50%,-50%);
            text-transform: uppercase;
            font-family: verdana;
            font-size: 12em;
            font-weight: 700;
            color: #f5f5f5;*/
    /*text-shadow: 1px 1px 1px #919191, 1px 2px 1px #919191, 1px 3px 1px #919191, 1px 4px 1px #919191, 1px 5px 1px #919191, 1px 6px 1px #919191, 1px 7px 1px #919191, 1px 8px 1px #919191, 1px 9px 1px #919191, 1px 10px 1px #919191, 1px 18px 6px rgba(16,16,16,0.4), 1px 22px 10px rgba(16,16,16,0.2), 1px 25px 35px rgba(16,16,16,0.2), 1px 30px 60px rgba(16,16,16,0.4);*/
}

.c3-target.c3-defocused {
    opacity: 1 !important;
}

.c3-target-data1.c3-focused path {
    fill: #FFBC78 !important;
    /*fill: #28F18D !important;*/
}

.c3-legend-item-data1.c3-legend-item-focused .c3-legend-item-tile {
    fill: #FFBC78 !important;
}

.c3-target-data2.c3-focused path {
    fill: #FFA25A !important;
    /*fill: #FFD0AC !important;*/
}

.c3-legend-item-data2.c3-legend-item-focused .c3-legend-item-tile {
    fill: #FFA25A !important;
    /*fill: #FFD0AC !important;*/
}

.c3-target-data3.c3-focused path {
    fill: #28F18D !important;
    /*fill: #93F8C6 !important;*/
}

.c3-legend-item-data3.c3-legend-item-focused .c3-legend-item-tile {
    fill: #28F18D !important;
    /*fill: #FFD0AC !important;*/
}

.c3-target-data4.c3-focused path {
    fill: #55FFAB !important;
    /*fill: #AAFFD5 !important;*/
}

.c3-legend-item-data4.c3-legend-item-focused .c3-legend-item-tile {
    fill: #55FFAB !important;
    /*fill: #FFD0AC !important;*/
}

.searchtxt {
    width: 79%;
    /*border-radius: 8px;
        /*border: 2px solid #ccc;*/
}

.dataTables_length {
    display: inline;
}

.dataTables_paginate {
    text-align: right;
    /*display: none;*/
}

.dataTables_info {
    text-align: left;
    /*display: none;*/
}

.tableDisplay {
    display: none;
}

.dropdown-menu-list {
    top: 36px;
    left: -174px;
    width: 204px !important;
    --bs-dropdown-border-radius: 0rem !important;
    font-size: 12px !important;
}

.dropdown-menu-list-word-detect {
    width: 204px !important;
    --bs-dropdown-border-radius: 0rem !important;
    font-size: 12px !important;
}

.dropdown-item-word-detect {
    height: 27px;
}

a.no-redirect {
    cursor: default;
    --bs-dropdown-link-hover-bg: white;
}

.ai-image {
    padding: 0px 10px;
    margin: 5px;
    font-size: 12px;
    font-weight: bold;
    line-height: 1;
    font-size: 18px;
    box-shadow: none;
    border: none;
    font-size: 18px !important;
    animation: glow 2s ease-in-out infinite;
}

.ai-image i {
    color: rgba(255, 255, 255, 0.01);
    background: linear-gradient(to right, #D054A8, #4C76FF);
    background-size: 25px;
    -webkit-background-size: 25px;
    background-clip: text;
    -webkit-background-clip: text;
    font-size: 20px;
    padding-right: 3px;
}

.input-group-text-word-detection {
    color: rgba(255, 255, 255, 0.01);
    background: linear-gradient(to right, #D054A8, #4C76FF);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bolder;
}


.text-glow {
    animation: glow 2s ease-in-out infinite;
}

@keyframes glow {
    0% {
        text-shadow: 0 0 0px rgba(208, 84, 168,0.3);
    }

    50% {
        text-shadow: 0 0 10px rgba(208, 84, 168,0.8);
    }

    100% {
        text-shadow: 0 0 0px rgba(208, 84, 168,0.3);
    }
}

@media (max-width: 576px) {
    .tr-text {
        text-align: start;
    }
}

@media only screen and (min-device-width: 1280px) and (max-device-width: 1599px) {

    .multiselect-container {
        --bs-dropdown-min-width: 75px;
        margin-top: -3px !important;
        border-top-left-radius: 0px !important;
        border-top-right-radius: 0px !important;
        border-bottom-left-radius: 0px !important;
        border-bottom-right-radius: 0px !important;
    }

    .dataTables_length .multiselect.dropdown-toggle {
        width: 75px;
        padding-right: 40px !important;
    }

    #chgpassword_btn {
        width: 200px;
    }

    #sidebar, #sidebar-nav {
        width: 200px !important;
    }

    #sidebar-nav {
        height: calc(100vh - 10px - 42px - 42px - 25px) !important;
    }

    .modal-header {
        margin-bottom: -15px;
        margin-top: -10px;
    }

    .custom-toolbar {
        margin-right: 2px;
    }


    .content-center-p {
        padding-left: 90px !important;
        padding-top: 5px !important;
    }

    .tr-pop-line {
        border-top: 1px solid #F0F0F0;
        margin: 10px 0px;
    }

    .tr-help-card {
        height: calc(100vh - 170px);
        overflow-y: scroll;
    }

    .tr-icon-font {
        color: #54575A;
        font-family: Roboto;
        font-size: 14px;
        margin-left: 5px;
        font-weight: 400;
    }

    .card-dash-info {
        height: 180px;
    }

    .card-dash-info2 {
        height: 85px;
    }
}

@media (min-width: 1599px) {

    .modal-header {
        margin-bottom: -25px;
        margin-top: -10px;
    }

    .custom-toolbar-add-margin {
        margin-right: 2px;
    }

    .content-center-p {
        text-align: center !important;
    }

    .modal-lg, .modal-xl {
        --bs-modal-width: 1024px;
    }

    .tr-btm-size {
        padding-top: 2px !important;
    }

    .height-override {
        height: calc(100vh - 58px - 70px - 75px - 25px) !important;
    }
}

@media (min-width: 1535px) {
    .dropdown-menu-list {
        top: 35.5px;
        left: -179px;
        width: 210px !important;
        --bs-dropdown-border-radius: 0rem !important;
        font-size: 12px !important;
    }
}

@media (min-width: 1919px) {
    .dropdown-menu-list {
        top: 36.5px;
        left: -175px;
        width: 209px !important;
        --bs-dropdown-border-radius: 0rem !important;
        font-size: 12px !important;
    }
}
