@using TPM_QAS.Models
@model IEnumerable<COAGARAWMATABNORMModel>

@{
    ViewBag.Title = "TPM COA - Raw Material Abnormality Detection - List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .image-spike-icon {
        background-image: url("../images/spike.PNG");
        background-size: cover; /* or contain, etc. */
        width: 24px; /* Set the width and height */
        height: 24px;
        display: inline-block; /* Make it behave like an image */
        text-indent: -9999px; /* Hide the font awesome icon*/
        overflow: hidden; /* Ensure that any hidden text is not shown */
    }

    .image-dropped-icon {
        background-image: url("../images/dropped.PNG");
        background-size: cover; /* or contain, etc. */
        width: 24px; /* Set the width and height */
        height: 24px;
        display: inline-block; /* Make it behave like an image */
        text-indent: -9999px; /* Hide the font awesome icon*/
        overflow: hidden; /* Ensure that any hidden text is not shown */
    }
</style>
<div class="row g-0 px-3 tr-listing-header">
    <div class="col-sm-6 align-self-center">
        <p class="text-muted m-0 tr-listing-header-title">TPM COA - Raw Material Abnormality Detection</p>
    </div>
    <div class="col-sm-6 text-end align-self-center">        
    </div>
</div>

<div style="border-top:1px solid #F0F0F0; margin-top:-1px" class="tr-btm-line"></div>

<div class="page-container px-3 overflow-auto">
    <div class="tr-btm-btn-margin">
        <div class="card mt-3 mb-2 card-height">
            <div class="card-body">
                <div class="row align-items-baseline">
                    <div class="col"><h6 class="card-title text-muted">Listing - Raw Material Abnormality Detected</h6></div>
                </div>

                <hr />
                <div class="row">
                    <table id="tr-datatable" class="table table-hover table-bordered compact" style="width:100%; margin-top: 0px !important">
                        <thead>
                            <tr style="background-color:#FCFCFC">
                                <th>Detection Date</th>
                                <th>Supplier</th>
                                <th>TPM Code</th>
                                <th>Affected Inspection Items</th>
                                <th>Status</th>
                                <th>View</th>
                            </tr>
                        </thead>
                        <tbody> </tbody>
                    </table>
                </div>

                <div class="row tr-btm-btn-area">
                    <div class="col">
                        <div class="aud export-section py-2" data-modulename="Raw Material Abnormality Detection"></div>
                    </div>
                </div>
            </div>
            </div>
            </div>
        </div>



        <!--ADV SEARCH MODAL-->
        <div class="modal fade" id="ASModal" tabindex="-1" role="dialog" data-backdrop="false">
            <div class="modal-dialog modal-xl" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" style="float:left;">Advanced Search</h5>
                    </div>
                    <hr />
                    <div class="modal-body" id="searchSourceBody">
                        <div class="container-fluid">
                            <div class="row align-items-center mb-2">
                                <div class="col-md-2 isLabel">Product Group <span style="float:right">:</span></div>
                                <div class="col-md-4">
                                    <input class="form-control" id="AS_FIELD1" type="text" />
                                </div>
                                <div class="col-md-2 isLabel">Pattern Type <span style="float:right">:</span></div>
                                <div class="col-md-4">
                                    <input class="form-control" id="AS_FIELD2" type="text" />
                                </div>
                            </div>

                            <div class="row align-items-center">
                                <div class="col-md-2 isLabel">Company <span style="float:right">:</span></div>
                                <div class="col-md-4">
                                    <input class="form-control" id="AS_FIELD3" type="text" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="reset" id="btnReset" class="btn btn-sm btn-secondary" style="margin-right: auto;">Reset</button>
                        <button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal">Back</button>
                        <button type="button" class="btn btn-sm btn-primary" onclick="as_search();" data-bs-dismiss="modal">Search</button>
                    </div>
                </div>
            </div>
        </div>


        @section scripts {
            <script type="text/javascript">
        var table;
        var data = [], dataAll = [];
        var jsonData = @Html.Raw(Json.Serialize(Model));
        var data = jsonData;
        dataAll = data;

        $(document).ready(function () {
            $.when(loaddatatable()).then(function () {
                setTimeout(function () {
                    table.columns.adjust();
                    loadings(false);
                }, 10);
            })
        });

        function loaddatatable() {

            table = $('#tr-datatable').DataTable({
                data: data,
                scrollCollapse: true,
                scrollY: calcDataTableHeight,
                pagingType: 'simple_numbers',
                columns: [
                    { data: 'CREATED_DATE' },
                    { data: 'SUPPLIER_NAME' },
                    { data: 'TPM_CODE' },
                    { data: 'SUPP_ITEM_NAME' },
                    { data: 'ABNORM_STATUS' },
                    { data: 'GA_ABNORMAL_H_ID' },
                ],
                columnDefs: [{
                    targets: 4,
                    render: function (data, type, row, meta) {
                        var _status = row.ABNORM_STATUS;
                        var imageclass = "";
                        if (_status == "Spike Detected") {
                            imageclass = "image-spike-icon";
                        } else {
                            imageclass = "image-dropped-icon";
                        } 
                        return '<span>' + _status + '</span>&nbsp;&nbsp;&nbsp;<span><i class="fa-solid  my-button ' + imageclass +'"></i></span>';
                    }
                }, {
                    targets: 5,
                    render: function (data, type, row, meta) {
                        if (type === 'display') {
                            var href = `/COA_GA_RAWMAT_ABNORM/COA_GA_RAWMAT_ABNORM_DET/${data}`;

                            data = `<a href="${href}" class="name tr-icon-size"><i class="fa-solid fa-eye my-button"></i></a>`;
                        }
                        return data;
                    },
                    orderable: false
                }],
                select: {
                    style: 'multi',
                    info: false,
                    selector: 'td:nth-child(1)'
                },
                order: [],
                dom: "<'row toolbar-row g-0'<'col-sm-12 col-md-6 align-self-center'l><'col-sm-12 col-md-6'<'d-flex justify-content-end'<'toolbar'>>>>" +
                    "<'row'<'col-sm-12'tr>>" +
                    "<'row'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7'<'d-flex justify-content-end mt-2'p<'go-to align-self-center mx-2'>>>>",
                initComplete: function () {
                    $("div.toolbar").html(
                        '<div class="input-group input-group-sm">' +
                        '<input type="text" id="txtSearch" class="form-control remove-right-border" placeholder="Search" aria-label="Search" aria-describedby="btnAdvanceSearch">' +
                        '<div class="input-group-text listing-search-icon">' +
                        '    <a href="" class="text-reset" id="btnSearch"><i class="fa-solid fa-magnifying-glass"></i></a>' +
                        '</div>' +
                        '<button class="btn btn-sm btn-primary" type="button" data-bs-toggle="modal" data-bs-target="#ASModal" id="btnAS" style="min-width: 30px; background-color: #057FE5;"><i class="fa-solid fa-sliders" style="transform: rotate(90deg);"></i></button>' +
                        '</div>'
                    );
                },
                drawCallback: function (settings) {
                    var api = this.api();
                    $("#txtGoTo").val(api.page() + 1);
                }
            });

            console.log(data)

            $("div.go-to").html('<div class="d-flex align-items-center p-0"><input class="form-control" type="text" id="txtGoTo" style="width:50px" value=1> &nbsp; <div class="page-info">of ' + table.page.info().pages + '</div></div>');
            $("#txtGoTo").on('keyup', function (e) {
                try {
                    var page = e.target.value;
                    if ($.isNumeric(page) && page > 0 && page <= table.page.info().pages) {
                        table.page(page - 1).draw('page');
                    } else if (e.target.value.trim() == '') {

                    }
                    else {
                        e.target.value = table.page() + 1;
                    }

                } catch (ex) {
                    console.warn(ex.toString());
                    e.target.value = 1;
                }
            });
            $("#txtGoTo").on('blur', function (e) {
                try {
                    var page = e.target.value;
                    if (page.trim() == '') {
                        $("#txtGoTo").val(1);
                        table.page(0).draw('page');
                        $("#txtGoTo").focus();
                    }
                } catch (ex) {
                    console.warn(ex.toString());
                    e.target.value = 1;
                }
            });
            $(".dataTables_length .form-select").on('change', function () {
                $("#txtGoTo").val(table.page() + 1);
                $("div.page-info").html('of ' + table.page.info().pages + '</div>');
            });
            table.on('select deselect', function (e, dt, type, indexes) {
                var rowCnt = table.rows({ selected: true }).count();
                console.log('count', rowCnt);
                if (rowCnt > 0) {
                    $(".tr-trash").removeClass('isHide');
                    //$(".tr-audit").removeClass('isHide');
                    $("#btnExport").prop('disabled', false);
                } else {
                    $(".tr-trash").addClass('isHide');
                    //$(".tr-audit").addClass('isHide');
                    $("#btnExport").prop('disabled', true);
                }
            });


            //Multi Select
            var abc = $('.tr-select2').multiselect({
                buttonClass: 'form-select form-control text-start',
                templates: {
                    button: '<button type="button" class="multiselect dropdown-toggle" data-bs-toggle="dropdown"><span class="multiselect-selected-text"></span></button>',
                }
            });
            $('.tr-select2:input').val('');
            $('.tr-select2').multiselect('rebuild');

            $('.multiselectpicker').multiselect({
                buttonClass: 'form-select form-control text-start',
                templates: {
                    button: '<button type="button" class="multiselect dropdown-toggle" data-bs-toggle="dropdown"><span class="multiselect-selected-text"></span></button>',
                }
            });
            $('.multiselectpicker2').multiselect({
                buttonClass: 'form-select form-control text-start',
                templates: {
                    button: '<button type="button" class="multiselect dropdown-toggle" data-bs-toggle="dropdown"><span class="multiselect-selected-text"></span></button>',
                }
            });
            $('.multiselect-native-select > .btn-group').addClass("w-100");
            $('.multiselect-native-select > .btn-group > .multiselect').removeClass("text-center");
            $('.multiselect-native-select > .btn-group > .multiselect-container').addClass("w-100");

            addTableButtons();

            $('.tr-select').on('change', function (e) {
                if (e.target.value == "All") {
                    data = dataAll;
                } else {
                    data = dataAll.filter(x => x.REC_TYPE_DESC.toString() == e.target.value);
                }
                if (data.length > 1) {
                    $('.tr-rec').text(data.length + ' entries');
                } else {
                    $('.tr-rec').text(data.length + ' entry');
                }

                table.clear().rows.add(data).draw();
            });

        };

        $(document).on('click', '#btnSearch', function (e) {
            e.preventDefault();
            as_exclude();
            table.search($('#txtSearch').val()).draw();
        });
        $(document).on('keyup', '#txtSearch', function (e) {
            as_exclude();
            table.search($(this).val()).draw();
        });

        $(document).on('click', '#btnReset', function (e) {
            e.preventDefault();
            $('#AS_FIELD1').val('');
            $('#AS_FIELD2').val('');
            $('#AS_FIELD3').val('');
            as_search();
        });
        function as_search() {
            table.search("");
            table.columns(1).search($('#AS_FIELD1').val().trim());
            table.columns(2).search($('#AS_FIELD2').val().trim());
            table.columns(3).search($('#AS_FIELD3').val().trim());
            table.draw();
        }
        function as_exclude() {
            table.columns(1).search("");
            table.columns(2).search("");
            table.columns(3).search("");
        }

            </script>

            <script>

                $(document).ready(function () {

                    var listingURL = appBasePath + 'COA_GA_RAWMAT_ABNORM/COA_GA_RAWMAT_ABNORM_LST';
                });

            </script>

            <!--INC TOOLTIPS-->
            @*<script>
                $(document).on('mouseover', 'td:nth-child(2), td:nth-child(3), td:nth-child(4)', function (e) {
                    //$(document).on('mouseover', 'td:not(:nth-child(1))', function (e) {   --- all except clumn 0
                    var did = $(this).closest('tr').find('td:first-child .dt-checkboxes').val();
                    var matchingItem = data.find(function (item) {
                        return item.MM_MTERIAL_H_ID == did;
                    });

                    if (matchingItem != null && matchingItem != undefined) {
                        const tooltip = $('<div class="inc-tooltip"></div>');
                        const tooltip_table = $('<table class="inc-tooltip-table"></table>');
                        if (matchingItem.PROPERTIES != null && matchingItem.PROPERTIES != undefined) {
                            tooltip_table.append(`<tr><td>Properties Spec : </td></tr><tr><td>${matchingItem.PROPERTIES}</td></tr>`);
                        } else {
                            tooltip_table.append(`<tr><td>Properties Spec : </td></tr><tr><td>-</td></tr>`);
                        }
                        tooltip_table.append(`<tr><td></td></tr><tr><td></td></tr>`);
                        if (matchingItem.PROP_ITEM != null && matchingItem.PROP_ITEM != undefined) {
                            tooltip_table.append(`<tr><td>Property Item : </td></tr><tr><td>${matchingItem.PROP_ITEM}</td></tr>`);
                        } else {
                            tooltip_table.append(`<tr><td>Property Item : </td></tr><tr><td>-</td></tr>`);
                        }

                        tooltip.append(tooltip_table);
                        $('.tr-tooltips-container').append(tooltip);

                        const elementRect = this.getBoundingClientRect();

                        const windowWidth = window.innerWidth;
                        const windowHeight = window.innerHeight;
                        const isSpaceOnBottom = windowHeight - elementRect.bottom >= tooltip.outerHeight();
                        const isSpaceOnTop = elementRect.bottom >= tooltip.outerHeight();
                        const isSpaceOnRight = windowWidth - elementRect.left >= tooltip.outerWidth();

                        if (isSpaceOnBottom) {
                            tooltip.css({
                                top: elementRect.bottom + 5 + 'px',
                            });
                        } else if (isSpaceOnTop) {
                            tooltip.css({
                                top: (elementRect.top - tooltip.outerHeight() - 5) + 'px',
                            });
                        }
                        if (isSpaceOnRight) {
                            tooltip.css({
                                left: elementRect.left + 'px',
                            });
                        } else {
                            tooltip.css({
                                left: (elementRect.right - tooltip.outerWidth()) + 'px',
                            });
                        }
                    }
                });

                $(document).on('mouseleave', 'td:not(:nth-child(1))', function (e) {
                    $('.inc-tooltip').remove();
                });

            </script>*@
        }
